<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid mb-5">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mx-4">
                    <a class="nav-link active" aria-current="page" href="/homepage"><h4>Homepage</h4></a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link active" aria-current="page" href="/dashboard"><h4>Dashboard</h4></a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link active" aria-current="page" href="/login"><h4>Login</h4></a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link active" aria-current="page" href="/signup"><h4>Sign Up</h4></a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-start bd-highlight mb-3">
            <button class="btn btn-primary pd-2 bd-highlight">The Tech Blog</button>
        </div>
    </div>
    {{!-- <nav class="navbar fixed-bottom navbar-dark bg-dark"> --}}

            <div class="pd-2 bd-highlight">
                <a class="bd-highlight navbar-brand" href="#">The Tech Blog</a>
            </div>
            

    {{!-- </nav> --}}

</nav>
<h1></h1>