<main class="form-signin pt-5 mx-5">
    <form>
        <div class="card-body mt-3">
        <h1 class="h3 mb-3 fw-normal text-center">Please Sign In</h1>

        <div class="form-floating">
            <input type="username" name="username" class="form-control" id="usernameField2" placeholder="name@example.com">
            <label for="usernameField2">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="passwordField2" placeholder="Password">
            <label for="passwordField2">Password</label>
        </div>
        <button class="w-40 btn btn-lg btn-primary my-3" type="submit" id="signinBtn">Login</button>
        <p class="pt-3">Don't have an account? <a href="signUp"> Sign Up Here</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </div>
    </form>
</main>
