{{> navbar}}

<div class="card">
    <h1 class="card-header">Create New Blog</h1>
    <form class="card-body new-blog-form" id="new-blog-form">
        <label for="titleField" class="form-label">Title</label>
        <input type="text" class="form-control" id="titleField" aria-describedby="emailHelp">
        <label for="contentField" class="form-label">Content</label>
        <input type="text" class="form-control" id="contentField" aria-describedby="emailHelp">
        <button type="submit" class="btn btn-info" id="addBlogBtn">Submit</button>
    </form>
</div>

<script src="/js/homepage.js"></script>
