:root {
    --brown: rgb(66,33,0);
    --lightgreen: rgb(208,233,192);
    --green: rgb(147,197,114);
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 40px;
}

.form-signin {
    
}

h4 {
    color: white;
}

.navbar {
    background-color: rgb(66,33,0);
    color: white;
}

.navbar > .menubar {
    display: inline-block;
    background-color: rgb(66,33,0);
    
}

.navbar > .menubar button {
    padding: 20px 40px;
    box-shadow: 5px 5px;
    
}

/* #techBlogBtn {
    color: aquamarine;
} */

.navbar >.nav-item {
    color: white;
}

.card {
    margin: 50px 50px;

}

.author {
    display: inline-block;
}